name: daily-schedule

on:
  schedule:
    - cron: '0 8 * * *'

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      API_KEY_SENDINBLUE: ${{ secrets.API_KEY_SENDINBLUE }}
      MAIL_FROM_EMAIL: ${{ secrets.MAIL_FROM_EMAIL }}
      MAIL_FROM_NAME: ${{ secrets.MAIL_FROM_NAME }}
      MAIL_TO_EMAIL: ${{ secrets.MAIL_TO_EMAIL }}
      MAIL_TO_NAME: ${{ secrets.MAIL_TO_NAME }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js 18.12.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.x
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install NPM packages
        run: npm ci
      - name: Run scripts
        run: npm start